.mt-6 {
  margin-top: 24px;
}

.ant-statistic-title {
  font-size: 14px;
  color: #6b7280;
  text-transform: uppercase;
}

.ant-statistic-content-value {
  font-size: 26px;
  font-weight: 600;
  color: #111827;
}
